<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{119,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,183}}</string>
                <key>sourceSize</key>
                <string>{119,183}</string>
            </dict>
            <key>p18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{580,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,432}}</string>
                <key>sourceSize</key>
                <string>{580,432}</string>
            </dict>
            <key>p18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1204},{580,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,432}}</string>
                <key>sourceSize</key>
                <string>{580,432}</string>
            </dict>
            <key>p18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,489},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>p18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{739,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,604}}</string>
                <key>sourceSize</key>
                <string>{739,604}</string>
            </dict>
            <key>p19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1204},{612,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,426}}</string>
                <key>sourceSize</key>
                <string>{612,426}</string>
            </dict>
            <key>p19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1632},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>p20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,544},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>p20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1632},{558,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,405}}</string>
                <key>sourceSize</key>
                <string>{558,405}</string>
            </dict>
            <key>p20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,187},{99,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,149}}</string>
                <key>sourceSize</key>
                <string>{99,149}</string>
            </dict>
            <key>p20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,338},{99,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,149}}</string>
                <key>sourceSize</key>
                <string>{99,149}</string>
            </dict>
            <key>p20_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1632},{99,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,149}}</string>
                <key>sourceSize</key>
                <string>{99,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level4_2.png</string>
            <key>size</key>
            <string>{1960,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0de0d73ca542640d22d786305cbc0d3:c48551ce897592a50f69270282e80b66:bf77e5ac42521e5ea9fdf462f115d597$</string>
            <key>textureFileName</key>
            <string>level4_2.png</string>
        </dict>
    </dict>
</plist>
