<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p51.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,540},{482,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,358}}</string>
                <key>sourceSize</key>
                <string>{482,358}</string>
            </dict>
            <key>p52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{487,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,494}}</string>
                <key>sourceSize</key>
                <string>{487,494}</string>
            </dict>
            <key>p53.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{335,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,536}}</string>
                <key>sourceSize</key>
                <string>{335,536}</string>
            </dict>
            <key>p54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,477}}</string>
                <key>sourceSize</key>
                <string>{510,477}</string>
            </dict>
            <key>p55.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{430,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,486}}</string>
                <key>sourceSize</key>
                <string>{430,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level11.png</string>
            <key>size</key>
            <string>{1283,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8821ee54eebc27d2f3ccc4070ee34e6d:5c45ad4d61d8786d0a32b4106592f9aa:8da423280289e8b3f68538ba3f5db275$</string>
            <key>textureFileName</key>
            <string>level11.png</string>
        </dict>
    </dict>
</plist>
