<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,602},{527,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,420}}</string>
                <key>sourceSize</key>
                <string>{527,420}</string>
            </dict>
            <key>p31_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1024},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>p31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1024},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>p31_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1024},{276,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,411}}</string>
                <key>sourceSize</key>
                <string>{276,411}</string>
            </dict>
            <key>p32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{758,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,598}}</string>
                <key>sourceSize</key>
                <string>{758,598}</string>
            </dict>
            <key>p33_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{760,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,297}}</string>
                <key>sourceSize</key>
                <string>{760,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level7_1.png</string>
            <key>size</key>
            <string>{1524,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:529a52ea0926baf44de716c1f1121ba6:6084b9cd04f0e386b2fb33d11f07af34:e183e0d6b59eed5d4e3e24490b89096d$</string>
            <key>textureFileName</key>
            <string>level7_1.png</string>
        </dict>
    </dict>
</plist>
