<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{378,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,362}}</string>
                <key>sourceSize</key>
                <string>{378,362}</string>
            </dict>
            <key>p57.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{464,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,343}}</string>
                <key>sourceSize</key>
                <string>{464,343}</string>
            </dict>
            <key>p58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,274}}</string>
                <key>sourceSize</key>
                <string>{485,274}</string>
            </dict>
            <key>p59.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{403,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,375}}</string>
                <key>sourceSize</key>
                <string>{403,375}</string>
            </dict>
            <key>p60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{261,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,410}}</string>
                <key>sourceSize</key>
                <string>{261,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level12.png</string>
            <key>size</key>
            <string>{2003,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39588e2db4b9839032bb9882959b453e:d08cc3f14650ac22d8b084f5255b957b:a308af9b4c0491d1d54dc3245bebcd21$</string>
            <key>textureFileName</key>
            <string>level12.png</string>
        </dict>
    </dict>
</plist>
