<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,603},{73,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,42}}</string>
                <key>sourceSize</key>
                <string>{73,42}</string>
            </dict>
            <key>p16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,603},{383,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,417}}</string>
                <key>sourceSize</key>
                <string>{383,417}</string>
            </dict>
            <key>p16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,603},{272,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,347}}</string>
                <key>sourceSize</key>
                <string>{272,347}</string>
            </dict>
            <key>p16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,647},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>p17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{481,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,463}}</string>
                <key>sourceSize</key>
                <string>{481,463}</string>
            </dict>
            <key>p17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{504,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,131}}</string>
                <key>sourceSize</key>
                <string>{504,131}</string>
            </dict>
            <key>p17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,467},{481,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,463}}</string>
                <key>sourceSize</key>
                <string>{481,463}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level4_1.png</string>
            <key>size</key>
            <string>{2009,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82c88a6f57203633e0d7cf6d5fb108fb:e8ef05b803fe48a426fe4eb22a6d4ba8:bc083fe6e685537ce4ad5bda21103083$</string>
            <key>textureFileName</key>
            <string>level4_1.png</string>
        </dict>
    </dict>
</plist>
