<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{421,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,432}}</string>
                <key>sourceSize</key>
                <string>{421,432}</string>
            </dict>
            <key>p23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,755},{589,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,379}}</string>
                <key>sourceSize</key>
                <string>{589,379}</string>
            </dict>
            <key>p24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,603},{607,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,423}}</string>
                <key>sourceSize</key>
                <string>{607,423}</string>
            </dict>
            <key>p25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,436},{180,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,193}}</string>
                <key>sourceSize</key>
                <string>{180,193}</string>
            </dict>
            <key>p25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,602},{124,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,151}}</string>
                <key>sourceSize</key>
                <string>{124,151}</string>
            </dict>
            <key>p25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,436},{162,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,164}}</string>
                <key>sourceSize</key>
                <string>{162,164}</string>
            </dict>
            <key>p25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level5_2.png</string>
            <key>size</key>
            <string>{1964,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb75349b32275eaec3eb5a738ef69a9:ea1bece647116e42aaaab834122214ce:9ee4ab1689cff0d6bebfe3d253b97d93$</string>
            <key>textureFileName</key>
            <string>level5_2.png</string>
        </dict>
    </dict>
</plist>
