<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level7_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn13.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn15.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,172},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,172},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,172},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,172},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,342},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,342},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,342},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level7_btn9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,342},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level7_btn.png</string>
            <key>size</key>
            <string>{857,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72153c34db734362e6397d12a47d192a:88f472ac58ab9476ccb6e8f4679e32c6:c238033f30cef10988d3a1a2328ef802$</string>
            <key>textureFileName</key>
            <string>level7_btn.png</string>
        </dict>
    </dict>
</plist>
