<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1767},{189,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,141}}</string>
                <key>sourceSize</key>
                <string>{189,141}</string>
            </dict>
            <key>p13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1561},{185,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,213}}</string>
                <key>sourceSize</key>
                <string>{185,213}</string>
            </dict>
            <key>p13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1805},{130,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,95}}</string>
                <key>sourceSize</key>
                <string>{130,95}</string>
            </dict>
            <key>p13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1561},{222,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,204}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>p13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1805},{112,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,41}}</string>
                <key>sourceSize</key>
                <string>{112,41}</string>
            </dict>
            <key>p14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p14_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{412,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,516}}</string>
                <key>sourceSize</key>
                <string>{412,516}</string>
            </dict>
            <key>p14_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,520},{412,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,516}}</string>
                <key>sourceSize</key>
                <string>{412,516}</string>
            </dict>
            <key>p15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1038},{95,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,111}}</string>
                <key>sourceSize</key>
                <string>{95,111}</string>
            </dict>
            <key>p15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1805},{110,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,99}}</string>
                <key>sourceSize</key>
                <string>{110,99}</string>
            </dict>
            <key>p15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1805},{113,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,96}}</string>
                <key>sourceSize</key>
                <string>{113,96}</string>
            </dict>
            <key>p15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1805},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>p15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1848},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>p15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1038},{284,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,277}}</string>
                <key>sourceSize</key>
                <string>{284,277}</string>
            </dict>
            <key>p15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1317},{333,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,242}}</string>
                <key>sourceSize</key>
                <string>{333,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level3_2.png</string>
            <key>size</key>
            <string>{1178,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ef5394a46947b919f6f4b93bd43a79:5af70edb543a393a6a3c30c4fbee139b:ba56348783437e6eb3ee35ec910d8b7e$</string>
            <key>textureFileName</key>
            <string>level3_2.png</string>
        </dict>
    </dict>
</plist>
