<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1847},{114,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,105}}</string>
                <key>sourceSize</key>
                <string>{114,105}</string>
            </dict>
            <key>all_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1833},{205,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,210}}</string>
                <key>sourceSize</key>
                <string>{205,210}</string>
            </dict>
            <key>all_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{365,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,365}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>bg_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>bg_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1847},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>btn_clouse_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1954},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>btn_clouse_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1954},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>btn_continnue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1556},{213,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,275}}</string>
                <key>sourceSize</key>
                <string>{213,275}</string>
            </dict>
            <key>btn_continnue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{213,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,275}}</string>
                <key>sourceSize</key>
                <string>{213,275}</string>
            </dict>
            <key>btn_replay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,279},{213,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,275}}</string>
                <key>sourceSize</key>
                <string>{213,275}</string>
            </dict>
            <key>btn_replay_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,556},{213,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,275}}</string>
                <key>sourceSize</key>
                <string>{213,275}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,842}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,842}}</string>
                <key>sourceSize</key>
                <string>{123,842}</string>
            </dict>
            <key>planceholder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1887},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1847},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1926},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,1977},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1941},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1977},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1926},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>all_ui.png</string>
            <key>size</key>
            <string>{508,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:375f6d2078a32dab6f795534abf65016:cf347340e4d0102a7b2e779c66c1505c:3df21a696c49f3e6d3fe193d3e896d8d$</string>
            <key>textureFileName</key>
            <string>all_ui.png</string>
        </dict>
    </dict>
</plist>
