<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level12_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,173},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>level12_btn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,173},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>level12_btn12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,173},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>level12_btn13.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn15.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,173},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level12_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,173},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>level12_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>level12_btn9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level12_btn.png</string>
            <key>size</key>
            <string>{1367,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e488678e578ac3be89bbce321dde6609:39af647c3fe241d7b5af3182335c5e2a:97bc525989ee58c00ca48750abc1a069$</string>
            <key>textureFileName</key>
            <string>level12_btn.png</string>
        </dict>
    </dict>
</plist>
