<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,603},{323,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,190}}</string>
                <key>sourceSize</key>
                <string>{323,190}</string>
            </dict>
            <key>p11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,603},{349,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,271}}</string>
                <key>sourceSize</key>
                <string>{349,271}</string>
            </dict>
            <key>p11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,795},{209,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,56}}</string>
                <key>sourceSize</key>
                <string>{209,56}</string>
            </dict>
            <key>p11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,853},{133,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,154}}</string>
                <key>sourceSize</key>
                <string>{133,154}</string>
            </dict>
            <key>p12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{451,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,391}}</string>
                <key>sourceSize</key>
                <string>{451,391}</string>
            </dict>
            <key>p12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,603},{429,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,404}}</string>
                <key>sourceSize</key>
                <string>{429,404}</string>
            </dict>
            <key>p12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,853},{127,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,74}}</string>
                <key>sourceSize</key>
                <string>{127,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level3_1.png</string>
            <key>size</key>
            <string>{1562,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d089fa242a42a0f8d557ee038aab658e:797e38a72f19f4b81b7ffe326f9ded54:21b93fa67889039d4591612974c3913a$</string>
            <key>textureFileName</key>
            <string>level3_1.png</string>
        </dict>
    </dict>
</plist>
