<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,702},{170,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,289}}</string>
                <key>sourceSize</key>
                <string>{170,289}</string>
            </dict>
            <key>p6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{370,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,349}}</string>
                <key>sourceSize</key>
                <string>{370,349}</string>
            </dict>
            <key>p6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,353},{393,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,347}}</string>
                <key>sourceSize</key>
                <string>{393,347}</string>
            </dict>
            <key>p6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,993},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>p7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p7_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{604,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,511}}</string>
                <key>sourceSize</key>
                <string>{604,511}</string>
            </dict>
            <key>p7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1204},{604,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,511}}</string>
                <key>sourceSize</key>
                <string>{604,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level2_1.png</string>
            <key>size</key>
            <string>{1214,1717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010b346171984361d5bff58f7f3b9ab1:041e0b613409946dfe64ff9c1b25a72d:1b2ff295cb9d7373e0b0c4528cf0b98c$</string>
            <key>textureFileName</key>
            <string>level2_1.png</string>
        </dict>
    </dict>
</plist>
