<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{577,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,353}}</string>
                <key>sourceSize</key>
                <string>{577,353}</string>
            </dict>
            <key>p29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,743},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>p29_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,743},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>p29_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,603},{574,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,334}}</string>
                <key>sourceSize</key>
                <string>{574,334}</string>
            </dict>
            <key>p30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,603},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>p30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,603},{141,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,138}}</string>
                <key>sourceSize</key>
                <string>{141,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level6_2.png</string>
            <key>size</key>
            <string>{1526,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74316708c1a3f106e849d53c712c6345:5ef8a681121b4f00aa8f1b90a2376ef0:3353a0eca0ae724fc58b635c9745b54c$</string>
            <key>textureFileName</key>
            <string>level6_2.png</string>
        </dict>
    </dict>
</plist>
