<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p39_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p39_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{577,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,281}}</string>
                <key>sourceSize</key>
                <string>{577,281}</string>
            </dict>
            <key>p39_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,603},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>p39_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,603},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>p39_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,603},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>p40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,603},{552,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,405}}</string>
                <key>sourceSize</key>
                <string>{552,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level8_2.png</string>
            <key>size</key>
            <string>{1526,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a9befb010f564d44aa87d530722271d:378e7cfde7193446c6f598bf49eeae53:ff967d784f1c33114286ed102f48710e$</string>
            <key>textureFileName</key>
            <string>level8_2.png</string>
        </dict>
    </dict>
</plist>
