<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,350},{309,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,149}}</string>
                <key>sourceSize</key>
                <string>{309,149}</string>
            </dict>
            <key>p3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1535},{250,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,248}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>p3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1440},{521,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,268}}</string>
                <key>sourceSize</key>
                <string>{521,268}</string>
            </dict>
            <key>p3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,350},{168,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,130}}</string>
                <key>sourceSize</key>
                <string>{168,130}</string>
            </dict>
            <key>p3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1069},{671,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,369}}</string>
                <key>sourceSize</key>
                <string>{671,369}</string>
            </dict>
            <key>p4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p4_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,603},{586,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,464}}</string>
                <key>sourceSize</key>
                <string>{586,464}</string>
            </dict>
            <key>p4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,603},{586,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,464}}</string>
                <key>sourceSize</key>
                <string>{586,464}</string>
            </dict>
            <key>p4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{586,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,464}}</string>
                <key>sourceSize</key>
                <string>{586,464}</string>
            </dict>
            <key>p4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1069},{586,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,464}}</string>
                <key>sourceSize</key>
                <string>{586,464}</string>
            </dict>
            <key>p5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{251,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,180}}</string>
                <key>sourceSize</key>
                <string>{251,180}</string>
            </dict>
            <key>p5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{434,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,346}}</string>
                <key>sourceSize</key>
                <string>{434,346}</string>
            </dict>
            <key>p5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1535},{510,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,323}}</string>
                <key>sourceSize</key>
                <string>{510,323}</string>
            </dict>
            <key>p5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1440},{163,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,270}}</string>
                <key>sourceSize</key>
                <string>{163,270}</string>
            </dict>
            <key>p5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1_2.png</string>
            <key>size</key>
            <string>{2042,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3319cd1d04d249ed2d2880342bd2cd66:0a6721b44141a3d29998b5f95bb98539:6dc4fef3fb26f50d661b288bed1a80bf$</string>
            <key>textureFileName</key>
            <string>level1_2.png</string>
        </dict>
    </dict>
</plist>
