<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1345},{159,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,142}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>p10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1202},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>p10_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,495},{337,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,461}}</string>
                <key>sourceSize</key>
                <string>{337,461}</string>
            </dict>
            <key>p10_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,958},{356,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,453}}</string>
                <key>sourceSize</key>
                <string>{356,453}</string>
            </dict>
            <key>p8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,2},{68,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,134}}</string>
                <key>sourceSize</key>
                <string>{68,134}</string>
            </dict>
            <key>p8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,182},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,171}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>p8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{105,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,178}}</string>
                <key>sourceSize</key>
                <string>{105,178}</string>
            </dict>
            <key>p8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{490,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,491}}</string>
                <key>sourceSize</key>
                <string>{490,491}</string>
            </dict>
            <key>p8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,920},{270,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,280}}</string>
                <key>sourceSize</key>
                <string>{270,280}</string>
            </dict>
            <key>p8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1805},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>p8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,355},{145,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>p9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,182},{61,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,167}}</string>
                <key>sourceSize</key>
                <string>{61,167}</string>
            </dict>
            <key>p9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1413},{468,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,449}}</string>
                <key>sourceSize</key>
                <string>{468,449}</string>
            </dict>
            <key>p9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,495},{330,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,423}}</string>
                <key>sourceSize</key>
                <string>{330,423}</string>
            </dict>
            <key>p9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1805},{155,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,55}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level2_2.png</string>
            <key>size</key>
            <string>{1435,1864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ae71e730db15c907bbaaf4cd4dfe6b:95f8d032b388c3ddfa92366a250d816a:3f84fb992b149263253d676fd2dd193b$</string>
            <key>textureFileName</key>
            <string>level2_2.png</string>
        </dict>
    </dict>
</plist>
