<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p34_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p34_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>p34_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,965},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>p34_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{785,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,664}}</string>
                <key>sourceSize</key>
                <string>{785,664}</string>
            </dict>
            <key>p35_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,603},{760,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,599}}</string>
                <key>sourceSize</key>
                <string>{760,599}</string>
            </dict>
            <key>p35_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{652,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,295}}</string>
                <key>sourceSize</key>
                <string>{652,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level7_2.png</string>
            <key>size</key>
            <string>{1551,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078cb3cc5226b1723da0340a328977c0:8d56eeb1e1cf695e5c6c0951e04f42d9:9779ff7937ccb30cb70cc5599accb48d$</string>
            <key>textureFileName</key>
            <string>level7_2.png</string>
        </dict>
    </dict>
</plist>
