<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p46.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,471},{482,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,390}}</string>
                <key>sourceSize</key>
                <string>{482,390}</string>
            </dict>
            <key>p47.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{518,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,467}}</string>
                <key>sourceSize</key>
                <string>{518,467}</string>
            </dict>
            <key>p48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{465,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,510}}</string>
                <key>sourceSize</key>
                <string>{465,510}</string>
            </dict>
            <key>p49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,402}}</string>
                <key>sourceSize</key>
                <string>{523,402}</string>
            </dict>
            <key>p50.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,471},{471,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,368}}</string>
                <key>sourceSize</key>
                <string>{471,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level10.png</string>
            <key>size</key>
            <string>{1467,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fff49a9e92222cf1fbcb4ccd3f593592:f9943a7e19f3598d5b11efb2ae1f2610:82091f95df2449628c883762eea390d6$</string>
            <key>textureFileName</key>
            <string>level10.png</string>
        </dict>
    </dict>
</plist>
